
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes fade {
  0%, 100% { opacity: 0; }
  10%, 30% { opacity: 1; }
  40%, 90% { opacity: 0; }
}

.animate-fade { animation: fade 15s infinite; }
.animate-fade1 { animation: fade 15s infinite 5s; }
.animate-fade2 { animation: fade 15s infinite 10s; }

* {
  font-family: 'Outfit', sans-serif;
}
